@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-base-100;
}

.container {
    @apply mx-auto px-4;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    margin-top: 3rem;
}

.small-container {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.medium-container {
    display: flex;
    flex-direction: column;
    width: 900px;
}

.large-container {
    display: flex;
    flex-direction: column;
    width: 1200px;
}

.chat-container {
    height: 62vh;
    overflow-y: scroll;
    scrollbar-gutter: stable both-edges;
}

/* For Webkit browsers (Chrome, Safari, etc.) */
.chat-container::-webkit-scrollbar {
    width: 5px;
    /* Adjust width for vertical scrollbars */
    height: 5px;
    /* Adjust height for horizontal scrollbars */
}

.chat-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    /* Color of the scroll thumb */
    border-radius: 3px;
    /* Rounded corners on the thumb */
}

.chat-container::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
    /* Color of the track */
}

/* For Firefox */
.chat-container {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.1);
}