@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    @apply mx-auto px-4;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    margin-top: 8rem;
}

.form-container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}
